
@{
    ViewBag.Title = "Single";
}

<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- Mirrored from modeltheme.com/travelogue/background-image/single.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Oct 2015 09:57:49 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Travelogue" />
    <title>Travelogue | Single Post</title>
    <link rel="shortcut icon" href="~/Images/img/favicon.ico">
    <!-- ### CSS Stylesheets ##################################################################### -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/normalize.css" /><!-- CSS: Normalize -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" /><!-- CSS: Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css" /><!-- CSS: Main CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" /><!-- CSS: Responsive CSS -->
</head>
<body class="index-single">
    <div id="container" class="container intro-effect-push">
        <a class="cd-primary-nav-trigger" id="trigger-menu" href="#0">
            <span class="cd-menu-icon"></span>
        </a>
        <!-- BOF: Fancy Search Form (content imported via jQuery: from search-form.html) -->
        <div id="travelogue-search" class="travelogue-search">
            <form>
                <input class="travelogue-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                <input class="travelogue-search-submit" type="submit" value="">
                <span class="travelogue-icon-search fa fa-search"></span>
            </form>
        </div>
        <!-- EOF: Fancy Search Form (content imported via jQuery: from search-form.html) -->
        <header class="header">
            <div class="bg-img">
                <img class="async-image hide" src="#" data-src="~/Images/img/pages/single.png" alt="" />
                <div class="overlay hidden" id="overlay"></div>
            </div>
            <div class="title hidden" id="title">
                <h1>I want to travel the world</h1>
            </div>
        </header>
        <button class="trigger scroll-down-pulse"><span>Trigger</span></button>
        <div class="title">
            <h1 class="black">I want to travel the world</h1>
            <h2 class="subline">And breathe the air of new places</h2>
        </div>
        <article class="content">
            <div>
                <p>Sometimes I feel as though there are two me's, one coasting directly on top of the other: the superficial me, who nods when she's supposed to nod and says what she's supposed to say, and some other, deeper part, the part that worries and dreams... Most of the time they move along in sync and I hardly notice the split, but sometimes it feels as though I'm two whole new.</p>
                <h2><span class="green">About </span><span class="black">the site:</span></h2>
                <p>This is my personal site in wich I write posts about my trips in the mountins and other excursions. I like to share my experiances with you and if you want to share something with me, find me below.</p>
                <p><img src="~/Images/img/article-image.jpg"></p>
                <p class="one_half">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar. </p>
                <p class="one_half">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar. </p>

                <div class="divider"></div>
                <h2><span class="green">Me Myself and I </span><span class="black">the story of me:</span></h2>
                <p>
                    <img src="~/Images/img/new/480x320/poza-4.jpg" width="246" height="272" alt="" class="float-right" /> Lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar lorem egestas. Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed at blandit vitae pulvinar lorem egestas.  Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae demi.
                    <br /><br />
                    Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar lorem egestas. Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae demi.
                </p>
                <p class="one_third">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar.</p>
                <p class="one_third">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar.</p>
                <p class="one_third">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar.</p>
                <div class="divider"></div>
                <p><span class="firstcharacter green">S</span> ometimes I feel as though there are two me's, one coasting directly on top of the other: the superficial me, who nods when she's supposed to nod and says what she's supposed to say, who nods when she's supposed to nod and says what she's supposed to say, who nods when she's supposed to nod and says what she's supposed to say. </p>
                <p>
                    <img src="~/Images/img/article-image-1.jpg" width="246" height="272" alt="" class="float-left" /> Lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar lorem egestas. Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed at blandit vitae pulvinar lorem egestas.  Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae demi.
                    <br /><br />
                    Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed  at blandit vitae pulvinar lorem egestas. Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus  ante at est. Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae pulvinar lorem egestas. Sed at blandit vitae demi.
                </p>

                <p>Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering t o a baseline grid. The former case isn’t worth discussing here, but the latter requires a closer look.</p>
                <p>When using a baseline grid, the first thing you must decide on is your baseline grid unit. You’ll commonly see baseline grid values of something like 20px, but where does a value like that come from?</p>
                <p>As you might have guessed, most designers choose this unit arbitrarily. The problem with this approach is that the resulting baseline grid unit is not directly related to the primary font size, which is the most fundamental design element on the page.</p>
                <blockquote>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings?</blockquote>
                <p>As it turns out, the golden ratio provides us with a formula for proper typesetting. We can now set our type with absolute certainty in any situation! Better still, we can use this information about typography to make more informed decisions about all the spatial aspects of our designs, such as:</p>
                <ul class="ul">
                    <li>The amount of whitespace that appears after each paragraph</li>
                    <li>Padding, margins, and other units of whitespace </li>
                    <li>Headline line-heights in a given width</li>
                    <li>Any and all spatial properties that you wish to relate mathematically</li>
                </ul>
                <p>The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text as your new “baseline unit”, you are effectively tying all the dimensions of your layout together with the golden ratio.</p>
            </div>
            <div class="article-footer">
                <p>
                    by <a href="author.html" class="hover-effect"><strong>Ferdinand Magellan</strong></a> &mdash; Posted on May 21, 2014, in <a href="category.html" data-href="Animals">Animals</a> and tagged <a href="tags.html" data-href="Animals">Animals</a>, <a href="#" data-href="Nature">Nature</a>
                </p>
                <p>Excerpt from: <a href="#" data-href="The blog">The blog</a></p>
                <div class="divider"></div>
                <div class="fullwidth">
                    <h3 class="black">Share this article on:</h3>
                    <div class="float-left">
                        <div class="social facebook float-left">
                            <a href="http://www.facebook.com/share.php?u=http://travelogue.seoresearch.com/single.html&amp;title=I%20want%20to%20travel%20the%20world">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                        <div class="social twitter float-left">
                            <a href="http://twitter.com/home?status=I%20want%20to%20travel%20the%20world+http://travelogue.seoresearch.com/single.html">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <div class="social googleplus float-left">
                            <a href="https://plus.google.com/share?url=http://travelogue.seoresearch.com/single.html">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                        <div class="social linkedin float-left">
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://travelogue.seoresearch.com/single.html&amp;title=I%20want%20to%20travel%20the%20world&amp;source=http://travelogue.seoresearch.com/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                        <div class="social reddit float-left">
                            <a href="http://www.reddit.com/submit?url=http://travelogue.seoresearch.com/single.html&amp;title=I%20want%20to%20travel%20the%20world">
                                <i class="fa fa-reddit"></i>
                            </a>
                        </div>
                        <div class="social tumblr float-left">
                            <a href="http://www.tumblr.com/share?v=3&amp;u=http://travelogue.seoresearch.com/single.html&amp;t=I%20want%20to%20travel%20the%20world">
                                <i class="fa fa-tumblr"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="divider_30"></div>
            <div class="travelogue_comments comments">
                <h2><span class="green">3 comments </span><span class="black">so far</span></h2>
                <!-- Parent comment -->
                <div class="fullwidth single_comment parent">
                    <div class="one_sixth comment_author">
                        <img src="~/Images/img/member_2.jpg">
                        <div class="author_name text-center">Joe McRock</div>
                    </div>
                    <div class="sixth_one comment_body relative">
                        <p>Lorem ipsum dolor sit amet, consec labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate dolore consec labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. <span class="date">- 10 days ago</span> <span class="reply_button green float-right">Reply</span></p>
                    </div>
                </div>
                <!-- 1st Child comment -->
                <div class="fullwidth single_comment child_comment">
                    <div class="one_sixth comment_author">
                        <img src="~/Images/img/member_1.jpg">
                        <div class="author_name text-center">Ira Montana</div>
                    </div>
                    <div class="sixth_one comment_body relative">
                        <p>Lorem ipsum dolor sit amet, consec labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate dolore consec labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.<span class="date">- 10 days ago</span> <span class="reply_button green float-right">Reply</span></p>
                    </div>
                </div>
                <!-- Parent comment -->
                <div class="fullwidth single_comment parent">
                    <div class="one_sixth comment_author">
                        <img src="~/Images/img/member_2.jpg">
                        <div class="author_name text-center">Joe McRock</div>
                    </div>
                    <div class="sixth_one comment_body relative">
                        <p>Lorem ipsum dolor sit amet, consec labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate dolore consec labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. <span class="date">- 10 days ago</span> <span class="reply_button green float-right">Reply</span></p>
                    </div>
                </div>
            </div>
            <div class="divider_30"></div>
            <div class="divider_30"></div>
            <div class="travelogue_comment_form">
                <h2><span class="green">Submit </span><span class="black">a comment</span></h2>
                <form id="theForm" class="simform" autocomplete="off">
                    <div class="simform-inner">
                        <ol class="questions">
                            <li>
                                <span><label for="q1">Your comment</label></span>
                                <textarea class="focus-me" id="q1"></textarea>
                            </li>
                            <li>
                                <span><label for="q2">What's your name?</label></span>
                                <input class="focus-me" id="q2" type="text" />
                            </li>
                            <li>
                                <span><label for="q2">What's your email address?</label></span>
                                <input class="focus-me" id="q3" type="text" />
                            </li>
                        </ol><!-- /questions -->
                        <button class="submit" type="submit">Send answers</button>
                        <div class="controls">
                            <button class="next"></button>
                            <div class="progress"></div>
                            <span class="number">
                                <span class="number-current"></span>
                                <span class="number-total"></span>
                            </span>
                            <span class="error-message"></span>
                        </div><!-- / controls -->
                    </div><!-- /simform-inner -->
                    <span class="final-message"></span>
                </form><!-- /simform -->
            </div>
            <div class="divider_30"></div>
        </article>


        <div class="pagination grid">
            <figure class="single-item-effect half">
                <img src="~/Images/img/new/965x350/single-footer4.jpg" alt="If you don't know Where" />
                <figcaption>
                    <div class="figcaption-border">
                        <h2><i class="fa fa-angle-left"></i> Previous <span>Post</span></h2>
                        <p>Traveling to Casablanca</p>
                        <a href="single-traveling-to-casablanca.html">View more</a>
                        <div class="figure-overlay"></div>
                    </div>
                </figcaption>
            </figure>
            <figure class="single-item-effect half">
                <img src="~/Images/img/new/965x350/single-footer2.jpg" alt="img01" />
                <figcaption>
                    <div class="figcaption-border">
                        <h2>Next <span>Post</span> <i class="fa fa-angle-right"></i> </h2>
                        <p>Bear hugs cheer me up</p>
                        <a href="single-bear-hugs.html">View more</a>
                        <div class="figure-overlay"></div>
                    </div>
                </figcaption>
            </figure>
            <div class="clearfix"></div>
        </div>
    </div><!-- /container -->
    <!-- ### Sidebar Menu ##################################################################### -->
    <div id="st-container" class="st-container"></div>
    <!-- ### JS Scripts ##################################################################### -->
    <script src="~/Scripts/js/modernizr.custom.js"></script>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/sidebarEffects.js"></script>
    <script src="~/Scripts/js/classie.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    <script src="~/Scripts/js/modernizr.form.custom.js"></script>
    <script src="~/Scripts/js/stepsFormComment.js"></script>
    <script src="~/Scripts/js/transition.js"></script>
    <script src="~/Scripts/js/jquery.ketchup.all.min.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
		// ~~~~~~~ FORM ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
		var theForm = document.getElementById( 'theForm' );

		new stepsForm( theForm, {
			onSubmit : function( form ) {
				// hide form
				classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
				// let's just simulate something...
				var messageEl = theForm.querySelector( '.final-message' );
				messageEl.innerHTML = 'Thank you for your comment.';
				classie.addClass( messageEl, 'show' );
			}
		} );

    </script>
    <a href="#0" class="back-to-top">Top</a>
    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008623479;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
    </script>
    <script type="text/javascript" src="../../../www.googleadservices.com/pagead/f.txt">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1008623479/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</body>
<!-- Mirrored from modeltheme.com/travelogue/background-image/single.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Oct 2015 09:58:14 GMT -->
</html>

