
@using FaceSharp.Api.Objects
@model IEnumerable<TP.Models.WebModels.EventModel>
    @{
    Session["MenuKey"] = "2";

}
<style>
    .customTitle {
        position: absolute !important;
        top: 300px !important;
        color: white;
        left: 40px !important;
        z-index: 10 !important;
    }
</style>        

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
    <div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: url(/assets/base/img/content/backgrounds/bg-9.jpg)">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-bold c-font-dark c-font-20 c-font-slim">About Us 2</h3>
                <h4 class="c-font-dark c-font-slim"> TourPakistan in a Nutshell </h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="#" class="c-font-dark">Pages</a>
                </li>
                <li class="c-font-dark">/</li>
                <li>
                    <a href="#" class="c-font-dark">About Us 2</a>
                </li>
                <li class="c-font-dark">/</li>
                <li class="c-state_active c-font-dark">Jango Components</li>
                
            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/MISC/ABOUT-2 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow animate fadeInUp">
                    <p>
                        Welcome to TourPakistan! If you are fond of visiting places and are keen to explore more, you’ve landed on the right site.

                        TourPakistan offers you a rich experience and a whole new dimension of tourism by taking you to Pakistan!
                    </p>
                    <p>
                        Despite the hype that has always been raised against Pakistan internationally, we bring you the other side of the picture by

                        presenting you places in Pakistan where the real beauty of nature resides. Pack yourselves up. You’re about to witness the best,

                        nature has to offer.
                    </p>
                    <p>We have accumulated a wealth of information that you need to get about a place, you plan a tour to. You can browse through,to learn more.</p>
                </div>
            </div>
            <div class="c-content-title-1 c-center c-margin-t-80">
                <h3 class="c-font-uppercase c-font-bold">Our Core Offerings</h3>
                <div class="c-line-center"></div>
            </div>
            <div class="row">
                <div class="col-sm-4 wow animate fadeInUp">
                    <ul class="c-content-list-1 c-theme c-separator-dot c-font-uppercase">
                        <li>Complete information about tourist spots.</li>
                        <li>Details on scheduled and upcoming tours.</li>
                        <li>Company advertisements about tours.</li>
                        <li>Weather updates and forecast for trekking.</li>
                    </ul>
                </div>
                <div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.2s">
                    <ul class="c-content-list-1 c-theme c-separator-dot c-font-uppercase">
                        <li>Information on prevailing seasons.</li>
                        <li>Complete roadmap to show between cities.</li>
                        <li>Location information about nearby hotels.</li>
                        <li>Transport information between cities.</li>
                    </ul>
                </div>
                <div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.4s">
                    <ul class="c-content-list-1 c-theme c-separator-dot c-font-uppercase">
                        <li>Visualizing the unseen allure of Pakistan.</li>
                        <li>Seasonal guide to plan a tour accordingly.</li>
                        <li>Traveler ratings specific to tourist spot.</li>
                        <li>Continuous feedback from visitors.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/ABOUT-2 -->
    <!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-4 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                        <div class="c-content-label c-font-uppercase c-font-bold">Latest Tours</div>
                        <div class="owl-carousel owl-theme c-theme owl-single">
                            @foreach (var eventModel in Model)
                            {
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url(data:image/png;base64,@eventModel.LocationImage); min-height: 380px;">
                                        <br/>
                                        <div class="c-content-label c-font-uppercase c-font-bold customTitle">@eventModel.LocationName</div>
                                        <div class="c-panel">
                                            <div class="c-fav">
                                                <i class="icon-heart c-font-thin"></i>
                                                <p class="c-font-thin">16</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="c-content-media-1" style="height: 380px;">
                        <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Our Mission</div>
                        <a href="#" class="c-title c-font-uppercase  c-font-bold c-theme-on-hover">Taking You to a Place with Heavenly Experience!</a>
                        <p>TourPakistan aims to bring out the best from the tourism industry. We have presented numerous breathtaking sights from Pakistan, to promote
                        the real scenic glamour of nature and eradicate negativity.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/LATEST-ITEMS-4 -->
    <!-- BEGIN: CONTENT/SLIDERS/TEAM-1 -->
    @*<div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <!-- Begin: Testimonals 1 component -->
            <div class="c-content-person-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Our Travel Partners</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->
                <!-- Begin: Owlcarousel -->
                <div class="owl-carousel owl-theme c-theme">
                    <div class="item">
                        <div class="c-content-person-1">
                            <div class="c-caption c-content-overlay">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#">
                                            <i class="icon-link"></i>
                                        </a>
                                        <a href="/assets/base/img/content/team/person7.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </div>
                                </div>
                                <img class="c-overlay-object img-responsive" src="/assets/base/img/content/team/person7.jpg" alt="">
                            </div>
                            <div class="c-body">
                                <div class="c-head">
                                    <div class="c-name c-font-uppercase c-font-bold">John Doe</div>
                                    <ul class="c-socials c-theme-ul">
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="c-position"> CEO, Mockingbird </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-person-1">
                            <div class="c-caption c-content-overlay">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#">
                                            <i class="icon-link"></i>
                                        </a>
                                        <a href="/assets/base/img/content/team/person6.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </div>
                                </div>
                                <img src="/assets/base/img/content/team/person6.jpg" class="img-responsive c-overlay-object" alt="">
                            </div>
                            <div class="c-body">
                                <div class="c-head">
                                    <div class="c-name c-font-uppercase c-font-bold">Jim Raynor</div>
                                    <ul class="c-socials c-theme-ul">
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="c-position"> Caption, Hyperion </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-person-1">
                            <div class="c-caption c-content-overlay">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#">
                                            <i class="icon-link"></i>
                                        </a>
                                        <a href="/assets/base/img/content/team/person5.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </div>
                                </div>
                                <img src="/assets/base/img/content/team/person5.jpg" class="img-responsive c-overlay-object" alt="">
                            </div>
                            <div class="c-body">
                                <div class="c-head">
                                    <div class="c-name c-font-uppercase c-font-bold">Drake Hiro</div>
                                    <ul class="c-socials c-theme-ul">
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="c-position"> Entrepreneur </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-person-1">
                            <div class="c-caption c-content-overlay">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#">
                                            <i class="icon-link"></i>
                                        </a>
                                        <a href="/assets/base/img/content/team/person4.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </div>
                                </div>
                                <img src="/assets/base/img/content/team/person4.jpg" class="img-responsive c-overlay-object" alt="">
                            </div>
                            <div class="c-body">
                                <div class="c-head">
                                    <div class="c-name c-font-uppercase c-font-bold">Maxell Heart</div>
                                    <ul class="c-socials c-theme-ul">
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="c-position"> CTO, Octoberite </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-content-person-1">
                            <div class="c-caption c-content-overlay">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#">
                                            <i class="icon-link"></i>
                                        </a>
                                        <a href="/assets/base/img/content/team/person1.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-1">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </div>
                                </div>
                                <img src="/assets/base/img/content/team/person1.jpg" class="img-responsive c-overlay-object" alt="">
                            </div>
                            <div class="c-body">
                                <div class="c-head">
                                    <div class="c-name c-font-uppercase c-font-bold">Phil Garner</div>
                                    <ul class="c-socials c-theme-ul">
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="c-position"> CEO, Philly </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div>*@
    <!-- END: CONTENT/SLIDERS/TEAM-1 -->
    <!-- BEGIN: CONTENT/MISC/SERVICES-1 -->
    <div class="c-content-box c-size-md c-bg-grey-1  ">
        <div class="container">
            <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2" data-height="height">
                            <div class="c-icon-wrapper">
                                <div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
                            </div>
                            <h3 class="c-font-uppercase c-font-bold c-title">Tourist Spots</h3>
                            <p>Complete information about all the places.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2" data-height="height">
                            <div class="c-icon-wrapper">
                                <div class="c-content-line-icon c-theme c-icon-support"></div>
                            </div>
                            <h3 class="c-font-uppercase c-font-bold c-title">Visit Details</h3>
                            <p>Schedule of preplanned and upcoming tours.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2" data-height="height">
                            <div class="c-icon-wrapper">
                                <div class="c-content-line-icon c-theme c-icon-comment"></div>
                            </div>
                            <h3 class="c-font-uppercase c-font-bold c-title">Weather Checks</h3>
                            <p>Weather updates and forecasts for better tour experience.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2" data-wow-delay1="2s" data-height="height">
                            <div class="c-icon-wrapper">
                                <div class="c-content-line-icon c-theme c-icon-bulb"></div>
                            </div>
                            <h3 class="c-font-uppercase c-font-bold c-title">Roadmaps</h3>
                            <p>Comprehensive guide about intra-city road connections.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-v-center c-theme-bg wow bounceInUp" data-wow-delay1="2s" data-height="height">
                            <div class="c-wrapper">
                                <div class="c-body c-padding-20 c-center">
                                    <h3 class="c-font-19 c-line-height-28 c-font-uppercase c-font-white c-font-bold"> PROVIDING YOU THE MATCHLESS SERVICES FOR
                                    YOUR TOUR, MERGED WITH PERFECTION AND EXCELLENCE. </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="c-content-feature-2" data-wow-delay1="2s" data-height="height">
                            <div class="c-icon-wrapper">
                                <div class="c-content-line-icon c-theme c-icon-globe"></div>
                            </div>
                            <h3 class="c-font-uppercase c-font-bold c-title">Accommodation</h3>
                            <p>Full knowledge of all the nearby hotels according to the selected place.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/MISC/SERVICES-1 -->
    <!-- BEGIN: CONTENT/SLIDERS/CLIENT-LOGOS-1 -->
    @*<div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <!-- Begin: Testimonals 1 component -->
            <div class="c-content-client-logos-slider-1" data-slider="owl" data-items="5" data-desktop-items="4" data-desktop-small-items="3" data-tablet-items="3" data-mobile-small-items="1" data-auto-play="5000">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Our Clients</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->
                <!-- Begin: Owlcarousel -->
                <div class="owl-carousel owl-theme c-theme">
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo4.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo5.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo6.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo7.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo8.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo9.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo10.jpg" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="/assets/base/img/content/client-logos/logo11.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div>*@
    <!-- END: CONTENT/SLIDERS/CLIENT-LOGOS-1 -->
    <!-- BEGIN: CONTENT/TESTIMONIALS/TESTIMONIALS-3 -->
    <div class="c-content-box c-size-lg c-bg-parallax" style="background-image: url(/assets/base/img/content/backgrounds/bg-3.jpg)">
        <div class="container">
            <!-- Begin: testimonials 1 component -->
            <div class="c-content-testimonials-1" data-slider="owl" data-single-item="true" data-auto-play="5000">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-white c-font-uppercase c-font-bold">What Our Users Think Of Us</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->
                <!-- Begin: Owlcarousel -->
                <div class="owl-carousel owl-theme c-theme">
                    <div class="item">
                        <div class="c-testimonial">
                            <p> “A system change is always stressful and JANGO did a great job of staying positive, helpful, and patient with us.” </p>
                            <h3>
                                <span class="c-name c-theme">John Snow</span>, CEO, Mockingbird
                            </h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-testimonial">
                            <p> “It was the smoothest implementation process I have ever been through with JANGO’s process and schedule.” </p>
                            <h3>
                                <span class="c-name c-theme">Arya Stark</span>, CFO, Valar Dohaeris
                            </h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-testimonial">
                            <p> “After co-founding the company in 2006 the group launched JANGO, the first digital marketplace which focused on rich multimedia web content” </p>
                            <h3>
                                <span class="c-name c-theme">Arya Stark</span>, CFO, Valar Dohaeris
                            </h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="c-testimonial">
                            <p> “JANGO is an international, privately held company that specializes in the start-up, promotion and operation of multiple online marketplaces” </p>
                            <h3>
                                <span class="c-name c-theme">Arya Stark</span>, CFO, Valar Dohaeris
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div>
    <!-- END: CONTENT/TESTIMONIALS/TESTIMONIALS-3 -->
    <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-5 -->
<!-- END: LAYOUT/FOOTERS/FOOTER-5 -->
<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
