@{
    Session["MenuKey"] = "5";

}


<div class="c-layout-page">
<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
<div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: url(/assets/base/img/content/backgrounds/bg-96.jpg)">
    <div class="container">
        <div class="c-page-title c-pull-left">
            <h3 class="c-font-uppercase c-font-bold c-font-dark c-font-20 c-font-slim">FAQ</h3>
            <h4 class="c-font-dark c-font-slim"> A comprehensive guide </h4>
        </div>
        <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
            <li>
                <a href="#" class="c-font-dark">Pages</a>
            </li>
            <li class="c-font-dark">/</li>
            <li>
                <a href="page-faq.html" class="c-font-dark">FAQ</a>
            </li>
            <li class="c-font-dark">/</li>
            <li class="c-state_active c-font-dark">Jango Components</li>
        </ul>
    </div>
</div>
<!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
<!-- BEGIN: PAGE CONTENT -->
<div class="c-content-box c-size-md ">
<div class="container">
<div class="cbp-panel">
<div id="filters-container" class="cbp-l-filters-underline">
    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div>
    <div data-filter=".buying" class="cbp-filter-item"> Buying </div>
    <div data-filter=".author" class="cbp-filter-item"> Author </div>
    <div data-filter=".account" class="cbp-filter-item"> Account </div>
    <div data-filter=".copyright" class="cbp-filter-item"> Copyright </div>
    <div data-filter=".community" class="cbp-filter-item"> Community </div>
</div>
<div id="grid-container" class="cbp cbp-l-grid-faq">
    <div class="cbp-item buying">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-check-circle-o"></i> What sort of services do you offer?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    TourPakistan has much to offer to tourists from across the globe. We have complete information

                    about all the tourist spots in Pakistan, centrally organized on an online platform. You can browse

                    through categories to explore places and plan a visit that best matches your interest and finance.
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-item community">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-life-ring"></i> What is the most appropriate type of luggage to bring along?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    We strongly recommend bringing a backpack or duffel bag, as suitcases can be cumbersome and

                    difficult to store in buses, under seats, etc. Keep in mind that you will normally have to carry your

                    own luggage on and off buses and trains and up and down hotel staircases. Suitcases with wheels

                    may not work well on dirt or cobblestone roads.
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-item buying">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-question"></i> What is the best time in the year to visit Pakistan?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body"> Pakistan has much to offer to the tourists, all through the year. However, in order to get the full

out of your experience, we would suggest you to plan your visit in the months from December to

March. </div>
            </div>
        </div>
    </div>
    <div class="cbp-item author">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-credit-card"></i> What type of clothing should I pack for one of the tours?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    We always recommend packing as light as possible however the specific requirements for your

                    tour will vary widely depending on where and when you are traveling. You can browse places on

                    our site to apprehend the climatic conditions of the desired tourist spot and manage your

                    clothing accordingly.
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-item copyright">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-copyright"></i> How many people can join a tour?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    We recommend considerably smaller group sizes (5-8 persons), so that you have the freedom to

                    move around and get involved with your surroundings, as well as more personal attention from

                    the tour guides. This intimate group size ensures that your experience will not be crowded.
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-item author">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-history"></i> What type of ground transportation is suitable for the tours?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    In most of the cases, we recommend public transportation. The way you get to the place Fro

                    significantly influences the tone of your journey and public transportation allows face-to-face

                    interaction with the local people.
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-item account">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-user"></i> Can you help arrange my travel visas?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    We can’t assist you in arranging the travel visas because we do not have any links with the travel

                    agencies, either directly or indirectly. We just provide you with a range of places all over Pakistan

                    that are worth visiting, with all the relevant details that you anticipate to get, before planning the

                    tour.
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-item author">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-columns"></i> Can I carry my food items with me?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    Yes you may. For most of the time, the meals are a part of the travel package that you chose

                    from your travel agency. However, they may not be the part of your package in some cases,

                    depending upon your destination and/or route. So you are free to carry your food items with

                    you.
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-item account">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-unlock-alt"></i> What vaccinations (if applicable) are recommended for the tour?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    It's important that you receive the most accurate and up-to-date travel health information for

                    the region you will be visiting. The only one qualified to provide you with this advice is your

                    family physician or a specialist from a travel agency. Websites are no substitute for a personal

                    consultation with a qualified medical professional.
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-item author">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-map-marker"></i> Is there any recommendation regarding age limit of the traveler?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    To travel independently you must be at least 18 years of age. Else, you must be along with your

                    family/guardian(s). Also, the travelers with pre-existing medical conditions are recommended to

                    complete a medical questionnaire.
                </div>
            </div>
        </div>
    </div>
    
    <div class="cbp-item author">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-map-marker"></i> Are internet and telephone facilities available all through the tour?
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    It primarily depends on the selection of place. The cellular technologies have conquered almost

                    the entire region of Pakistan, but some tough mountain ranges still do exist, where the coverage

                    is negligible.
                </div>
            </div>
        </div>
    </div>
    
   
    
    <div class="cbp-item community">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <i class="fa fa-comments-o"></i> Forum and Community Rules
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- END: PAGE CONTENT -->
</div>


@section PageScripts{
    <script src="~/assets/base/js/scripts/pages/faq.js" type="text/javascript"></script>
}

