@using System.Configuration

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pricing";
    Session["MenuKey"] = "Pricing";
}
<style>
    ul {
        list-style-type: none;
    }
</style>
<div class="main">
    <div class="container">
        @*<ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Login</li>
            </ul>*@
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 margin-top-20">
            <div class="col-md-12 col-sm-12">
                <h1>Prices</h1>
                <div class="content-page">
                    <div class="row margin-bottom-40">
                        <!-- Pricing -->
                        <div class="col-md-3">
                            <div class="pricing hover-effect">
                                <div class="pricing-head">
                                    <h3>
                                        Begginer
                                        <span>
                                            Officia deserunt mollitia
                                        </span>
                                    </h3>
                                    <h4>
                                        <i>$</i>5<i>.49</i>
                                        <span>
                                            Per Month
                                        </span>
                                    </h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> At vero eos
                                    </li>
                                    <li>
                                        <i class="fa fa-asterisk"></i> No Support
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> Fusce condimentum
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> Ut non libero
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                    </p>
                                    <a href=@("SignUp?PackageId=1&vkpy="+Request["vkpy"] ) class="btn btn-primary">
                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <div class="pricing hover-effect">
                                <div class="pricing-head">
                                    <h3>
                                        Pro
                                        <span>
                                            Officia deserunt mollitia
                                        </span>
                                    </h3>
                                    <h4>
                                        <i>$</i>8<i>.69</i>
                                        <span>
                                            Per Month
                                        </span>
                                    </h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> At vero eos
                                    </li>
                                    <li>
                                        <i class="fa fa-asterisk"></i> No Support
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> Fusce condimentum
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> Ut non libero
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                    </p>
                                    <a href=@("SignUp?PackageId=2&vkpy="+Request["vkpy"] ) class="btn btn-primary">
                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pricing pricing-active hover-effect">
                                <div class="pricing-head pricing-head-active">
                                    <h3>
                                        Expert
                                        <span>
                                            Officia deserunt mollitia
                                        </span>
                                    </h3>
                                    <h4>
                                        <i>$</i>13<i>.99</i>
                                        <span>
                                            Per Month
                                        </span>
                                    </h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> At vero eos
                                    </li>
                                    <li>
                                        <i class="fa fa-asterisk"></i> No Support
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> Fusce condimentum
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> Ut non libero
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                    </p>
                                    <a href=@("SignUp?PackageId=3&vkpy="+Request["vkpy"] ) class="btn btn-primary">
                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pricing hover-effect">
                                <div class="pricing-head">
                                    <h3>
                                        Hi-Tech
                                        <span>
                                            Officia deserunt mollitia
                                        </span>
                                    </h3>
                                    <h4>
                                        <i>$</i>99<i>.00</i>
                                        <span>
                                            Per Month
                                        </span>
                                    </h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> At vero eos
                                    </li>
                                    <li>
                                        <i class="fa fa-asterisk"></i> No Support
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> Fusce condimentum
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> Ut non libero
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                    </p>

                                    <a href=@("SignUp?PackageId=4&vkpy="+Request["vkpy"] ) class="btn btn-primary">
                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>*@
                        <!--//End Pricing -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
