
@{
    ViewBag.Title = "AddCategory";
}

<h2>AddCategory</h2>

<br /><br />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <label>Category<input type="text" class="form-control input-inline" /></label>
        </div>

        <a href="@Url.Action("CategoryManagement","DataManagement")" class="btn btn-success">Add</a>
    </div>
</div>