<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
    <div class="c-prefooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="c-container c-first">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold c-font-white">
                                Tour
                                <span class="c-theme-font">Pakistan</span>
                            </h3>
                            <div class="c-line-left hide"></div>
                            <p class="c-text"> TourPakistan offers you a complete set of information, at one place,about places in pakistan
                            that are worth seeing.</p>
                        </div>
                        <ul class="c-links">
                            <li>
                                <a href="#">Locations</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="c-container">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold c-font-white">Live Feed</h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <div class="c-blog">
                            <div class="c-post">
                                <div class="c-post-img">
                                    <img src="/assets/base/img/content/stock/9.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="c-post-content">
                                    <h4 class="c-post-title">
                                        <a href="#">Ready to Launch</a>
                                    </h4>
                                    <p class="c-text">Lorem ipsum dolor sit amet ipsum sit, consectetuer adipiscing elit sit amet</p>
                                </div>
                            </div>
                            <div class="c-post c-last">
                                <div class="c-post-img">
                                    <img src="/assets/base/img/content/stock/14.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="c-post-content">
                                    <h4 class="c-post-title">
                                        <a href="#">Dedicated Support</a>
                                    </h4>
                                    <p class="c-text">Lorem ipsum dolor ipsum sit ipsum amet, consectetuer sit adipiscing elit ipsum elit elit ipsum elit</p>
                                </div>
                            </div>
                            <a href="#" class="btn btn-md c-btn-border-1x c-theme-btn c-btn-uppercase c-btn-square c-btn-bold c-read-more hide">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="c-container">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold c-font-white">Gallery</h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <ul class="c-works">
                            <li class="c-first">
                                <a href="#">
                                    <img src="/assets/base/img/content/stock/015.jpg" alt="" class="img-responsive">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets/base/img/content/stock/012.jpg" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li class="c-last">
                                <a href="#">
                                    <img src="/assets/base/img/content/stock/12.jpg" alt="" class="img-responsive">
                                </a>
                            </li>
                        </ul>
                        <ul class="c-works">
                            <li class="c-first">
                                <a href="#">
                                    <img src="/assets/base/img/content/stock/014.jpg" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets/base/img/content/stock/011.jpg" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li class="c-last">
                                <a href="#">
                                    <img src="/assets/base/img/content/stock/15.jpg" class="img-responsive" alt="">
                                </a>
                            </li>
                        </ul>
                        <ul class="c-works">
                            <li class="c-first">
                                <a href="#">
                                    <img src="/assets/base/img/content/stock/015.jpg" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/assets/base/img/content/stock/013.jpg" class="img-responsive" alt="">
                                </a>
                            </li>
                            <li class="c-last">
                                <a href="#">
                                    <img src="/assets/base/img/content/stock/13.jpg" class="img-responsive" alt="">
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-md c-btn-border-1x c-theme-btn c-btn-uppercase c-btn-square c-btn-bold c-read-more hide">View More</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="c-container c-last">
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold c-font-white">Find us</h3>
                            <div class="c-line-left hide"></div>
                            <p>Click on the following buttons to get redirected to our social meedia feed.</p>
                        </div>
                        <ul class="c-socials">
                            <li>
                                <a href="#">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-social-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-social-tumblr"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="c-address">
                            <li>
                                <i class="icon-pointer c-theme-font"></i> One Boulevard, Beverly Hills
                            </li>
                            <li>
                                <i class="icon-call-end c-theme-font"></i> +1800 1234 5678
                            </li>
                            <li>
                                <i class="icon-envelope c-theme-font"></i> email@example.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-postfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 c-col">
                    <p class="c-copyright c-font-grey">
                        2016 © TourPakistan
                        <span class="c-font-grey-3">All Rights Reserved.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
