
@{
    ViewBag.Title = "AddSeason";
}

<h2>AddSeason</h2>

<br /><br />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <label>Season<input type="text" class="form-control input-inline" /></label>
        </div>

        <a href="@Url.Action("SeasonManagement","DataManagement")" class="btn btn-success">Add</a>
    </div>
</div>



