
@{
    ViewBag.Title = "LocationManagement";
    Session["MenuKey"] = "2";
    Session["SubMenuKey"] = "1";
}


<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Dashboard</span>
        </li>
    </ul>
</div>
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    Location Management
</h3>

<div class="row">
    <div class="col-md-12">
        <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Location Data</span>
                                    </div>
                                    <div class="actions">
                                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                                <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                                <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                    <a href="@Url.Action("AddLocation","Location")" id="sample_editable_1_new" class="btn sbold green">
                                                        Add New
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            @*<div class="col-md-6">
                                                <div class="btn-group pull-right">
                                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                                                        Tools
                                                        <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-print"></i> Print
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-file-pdf-o"></i> Save as PDF
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-file-excel-o"></i> Export to Excel
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                    

                                        <br/><br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="col-md-4">Location</label>
                                                <select class="form-control input-inline col-md-8">
                                                    <option>Select</option>
                                                    <option value="1">abc</option>
                                                    <option value="2">def</option>
                                                    <option value="-1">All</option>
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="col-md-4">Area</label>
                                                <select class="form-control input-inline col-md-8">
                                                    <option>Select</option>
                                                    <option value="1">abc</option>
                                                    <option value="2">def</option>
                                                    <option value="-1">All</option>
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="col-md-4">Province</label>
                                                <select class="form-control input-inline col-md-8">
                                                    <option>Select</option>
                                                    <option value="1">abc</option>
                                                    <option value="2">def</option>
                                                    <option value="-1">All</option>
                                                </select>
                                            </div>

                                        </div>

                                        
                                            <div class="row">
                                                 <div class="col-md-4">
                                                     <label class="col-md-4">Category</label>
                                                     <select class="form-control input-inline col-md-8">
                                                         <option>Select</option>
                                                         <option value="1">abc</option>
                                                         <option value="2">def</option>
                                                         <option value="-1">All</option>
                                                     </select>
                                                       </div>
                                            
                                                 <div class="col-md-4">
                                                     <label class="col-md-4">Season</label>
                                                     <select class="form-control input-inline col-md-8">
                                                         <option>Select</option>
                                                         <option value="1">abc</option>
                                                         <option value="2">def</option>
                                                         <option value="-1">All</option>
                                                     </select>
                                                 </div>

                                                 <div class="col-md-4">
                                                     <div class="dataTables_length" id="sample_1_length">
                                                         <label class="col-md-4">Show</label>
                                                         <select name="sample_1_length" aria-controls="sample_1" class="form-control input-inline col-md-8">
                                                             <option value="5">5</option>
                                                             <option value="15">15</option>
                                                             <option value="20">20</option>
                                                             <option value="-1">All</option>
                                                         </select>
                                                     </div>
                                                     </<div>
                                                             </div>


                                                 </div>
                                                 

                                        
                                                <div class="row">
                                                     <div class="table-scrollable">
                                                               <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                                            
                                                                   <thead>
                                                                       <tr role="row">
                                                                           <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 67px;">
                                                                               <div class="checker"><span><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes"></span></div>
                                                                           </th>
                                                                           <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Username : activate to sort column descending" style="width: 200px;">ID</th>
                                                                           <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Email : activate to sort column ascending" style="width: 200px;"> Name </th>
                                                                           <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Points : activate to sort column ascending" style="width: 200px;"> Description </th>
                                                                           <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Joined : activate to sort column ascending" style="width: 200px;"> Area </th>
                                                                           <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 200px;"> Province </th>
                                                                           <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 200px;"> Category </th>
                                                                           <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 200px;"> Seasons </th>
                                                                           <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 200px;"> Action </th>
                                                                       </tr>
                                                                   </thead>
                                                                   <tbody>
                                                                       <tr>
                                                                           <td>1</td>
                                                                           <td>none</td>
                                                                           <td>lahore</td>
                                                                           <td>punjab</td>
                                                                           <td>none</td>
                                                                           <td>none</td>
                                                                           <td><i class="fa fa-trash"></i></td>
                                                                       </tr>
                                                                   </tbody>
                                                               </table>
                                                           </div>
                                                </div>
                                                
                                                <div class="row"><div class="col-md-5 col-sm-5"><div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div></div><div class="col-md-7 col-sm-7"><div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate"><ul class="pagination" style="visibility: visible;"><li class="prev disabled"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a></li><li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li><li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li></ul></div></div></div>
                                             </div>
                                        </div>
                                    </div>
                                
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
    </div>
</div>