@{
    ViewBag.Title = "_FramePartial";
}

<h2>_FramePartial</h2>

<iframe name="google_conversion_frame" title="Google conversion frame" width="300" height="13" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1008623479/?random=1446026606508&amp;cv=8&amp;fst=1446026606508&amp;num=1&amp;fmt=1&amp;guid=ON&amp;u_h=768&amp;u_w=1366&amp;u_ah=728&amp;u_aw=1366&amp;u_cd=24&amp;u_his=2&amp;u_tz=300&amp;u_java=true&amp;u_nplug=5&amp;u_nmime=7&amp;frm=0&amp;url=file%3A///D%3A/7th/others/tour-site/modeltheme.com/travelogue/background-image/index.html" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no">&lt;img height="1" width="1" border="0" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1008623479/?frame=0&amp;random=1446026606508&amp;cv=8&amp;fst=1446026606508&amp;num=1&amp;fmt=1&amp;guid=ON&amp;u_h=768&amp;u_w=1366&amp;u_ah=728&amp;u_aw=1366&amp;u_cd=24&amp;u_his=2&amp;u_tz=300&amp;u_java=true&amp;u_nplug=5&amp;u_nmime=7&amp;frm=0&amp;url=file%3A///D%3A/7th/others/tour-site/modeltheme.com/travelogue/background-image/index.html" /&gt;</iframe>
