
@{
    ViewBag.Title = "Unauthorized Request";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <h1 data-text="401">Oops!</h1>
    Sorry, there's been a mishap.<br />Either
    <ul>
        <li>You are unauthorized to the page.</li>
        <li>Your license has expired.</li>
        <li>You have reversed the system time.</li>
    </ul>
    You may contact us for <a href="mailto:support@hatansolutions.com?subject=Error 420" title="support@hatansolutions.com">Support</a>
</div>
