@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LRALayout.cshtml";
}
@section pageLevelStyles{
    @*<link href="~/Scripts/pages/css/profile.min.css" rel="stylesheet" type="text/css" />*@
}
@section scripts{
    @*<script src="~/Scripts/pages/scripts/profile.min.js"></script>*@
}


<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index-2.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Dashboard</span>
        </li>
    </ul>
</div>
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    User Profile
    <small>user account page</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-check font-red-sunglo"></i>
                <span class="caption-subject bold uppercase"> Checkboxes</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn btn-sm red dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                        Settings
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-trash-o"></i> Delete
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-ban"></i> Ban
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="javascript:;"> Make admin </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form">
                <div class="form-group form-md-checkboxes">
                    <label>Checkboxes</label>
                    <div class="md-checkbox-list">
                        <div class="md-checkbox">
                            <input type="checkbox" id="checkbox1" class="md-check">
                            <label for="checkbox1">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 1
                            </label>
                        </div>
                        <div class="md-checkbox">
                            <input type="checkbox" id="checkbox2" class="md-check" checked>
                            <label for="checkbox2">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 2
                            </label>
                        </div>
                        <div class="md-checkbox">
                            <input type="checkbox" id="checkbox3" class="md-check">
                            <label for="checkbox3">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 3
                            </label>
                        </div>
                        <div class="md-checkbox">
                            <input type="checkbox" id="checkbox4" disabled class="md-check">
                            <label for="checkbox4">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Disabled
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-checkboxes">
                    <label>Inline Checkboxes</label>
                    <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                            <input type="checkbox" id="checkbox6" class="md-check">
                            <label for="checkbox6">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 1
                            </label>
                        </div>
                        <div class="md-checkbox">
                            <input type="checkbox" id="checkbox7" class="md-check" checked>
                            <label for="checkbox7">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 2
                            </label>
                        </div>
                        <div class="md-checkbox">
                            <input type="checkbox" id="checkbox8" class="md-check">
                            <label for="checkbox8">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 3
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-checkboxes">
                    <label>Checkboxes</label>
                    <div class="md-checkbox-list">
                        <div class="md-checkbox has-success">
                            <input type="checkbox" id="checkbox9" class="md-check">
                            <label for="checkbox9">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 1
                            </label>
                        </div>
                        <div class="md-checkbox has-error">
                            <input type="checkbox" id="checkbox10" class="md-check" checked>
                            <label for="checkbox10">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 2
                            </label>
                        </div>
                        <div class="md-checkbox has-warning">
                            <input type="checkbox" id="checkbox11" class="md-check">
                            <label for="checkbox11">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 3
                            </label>
                        </div>
                        <div class="md-checkbox has-info">
                            <input type="checkbox" id="checkbox12" disabled class="md-check">
                            <label for="checkbox12">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Disabled
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-checkboxes">
                    <label>Inline Checkboxes</label>
                    <div class="md-checkbox-inline">
                        <div class="md-checkbox has-success">
                            <input type="checkbox" id="checkbox14" class="md-check">
                            <label for="checkbox14">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 1
                            </label>
                        </div>
                        <div class="md-checkbox has-error">
                            <input type="checkbox" id="checkbox15" class="md-check" checked>
                            <label for="checkbox15">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 2
                            </label>
                        </div>
                        <div class="md-checkbox has-info">
                            <input type="checkbox" id="checkbox16" class="md-check">
                            <label for="checkbox16">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Option 3
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->
</div>
