

<header class="header">
    <div class="bg-img">
        <img class="async-image hide" src="http://modeltheme.com/travelogue/background-image/img/about-author2.jpg" data-src="img/about-author2.jpg" alt="">
        <div class="overlay" id="overlay"></div>
    </div>
    <div class="title" id="title">
        <h1>About me</h1>
        <p class="subline">My life is my message.</p>
    </div>
</header>

<button class="trigger scroll-down-pulse"><span>Trigger</span></button>

<article class="content">
    <div>
        <h1><span class="black">Introduction </span><span class="green">letter</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit.</p>

    </div>
    <!-- Map holder -->
    <div class="travelogue-product travelogue-container">
        <div class="travelogue-product-wrapper">
            <!-- Map image -->
            <img src="img/map.jpg">

            <!-- ul with all the points -->
            <ul>
                <!-- Single point -->
                <li class="travelogue-single-point">
                    <a class="travelogue-img-replace" href="#0">More</a>

                    <div class="travelogue-more-info travelogue-left">
                        <h2>The Balkans</h2>

                        <p>
                            Oh, you have to love the balkan accent. I bet you, you will
                            love more their beautifull nature.
                        </p><img src="img/map_i_was_here6.jpg"> <a href="#0" class="travelogue-close-info travelogue-img-replace">Close</a>
                    </div>
                </li><!-- End of .travelogue-single-point -->
                <!-- Single point -->
                <li class="travelogue-single-point">
                    <a class="travelogue-img-replace" href="#0">More</a>

                    <div class="travelogue-more-info travelogue-right">
                        <h2>In the jungle</h2>

                        <p>
                            The last time I was in the jungle, a monkey jumped me and
                            stole my camera.
                        </p><img src="img/map_i_was_here3.jpg">
                        <a href="#0" class="travelogue-close-info travelogue-img-replace">Close</a>
                    </div>
                </li><!-- End of .travelogue-single-point -->
                <!-- Single point -->
                <li class="travelogue-single-point">
                    <a class="travelogue-img-replace" href="#0">More</a>

                    <div class="travelogue-more-info travelogue-right">
                        <h2>Murica</h2>

                        <p>
                            The wild wild west has calmed down a little bit. It is more
                            like calm calm west.
                        </p><img src="img/map_i_was_here2.jpg">
                        <a href="#0" class="travelogue-close-info travelogue-img-replace">Close</a>
                    </div>
                </li><!-- End of .travelogue-single-point -->
                <!-- Single point -->
                <li class="travelogue-single-point">
                    <a class="travelogue-img-replace" href="#0">More</a>

                    <div class="travelogue-more-info travelogue-left">
                        <h2>Hot as Ice</h2>

                        <p>
                            If hell was a real place, I bet this would be its capital.
                            Temperatures here can reach minus 55 degrees.
                        </p><img src="img/map_i_was_here1.jpg"> <a href="#0" class="travelogue-close-info travelogue-img-replace">Close</a>
                    </div>
                </li><!-- End of .travelogue-single-point -->
                <!-- Single point -->
                <li class="travelogue-single-point">
                    <a class="travelogue-img-replace" href="#0">More</a>

                    <div class="travelogue-more-info travelogue-top">
                        <h2>Australia</h2>

                        <p>
                            Everything is upside down but the blood will not rush down to
                            your head. And there will be kangaroos.
                        </p><img src="img/map_i_was_here5.jpg"> <a href="#0" class="travelogue-close-info travelogue-img-replace">Close</a>
                    </div>
                </li><!-- End of .travelogue-single-point -->
                <!-- Single point -->
                <li class="travelogue-single-point">
                    <a class="travelogue-img-replace" href="#0">More</a>

                    <div class="travelogue-more-info travelogue-bottom">
                        <h2>Bearland</h2>

                        <p>
                            If you love bears, go there but be warned they will not love
                            you.
                        </p><img src="img/map_i_was_here4.jpg"> <a href="#0" class="travelogue-close-info travelogue-img-replace">Close</a>
                    </div>
                </li><!-- End of .travelogue-single-point -->

            </ul><!-- End of ul with all the points -->
        </div><!-- End of .travelogue-product-wrapper -->
    </div><!-- End of Map holder -->

    <div class="clearfix"></div>

    <div>
        <h1 class="text-left"><span class="black">Let me take you </span><span class="green">to the mountain</span></h1>
        <div class="author_skills">
            <div class="one_half">
                <iframe src="http://www.youtube.com/embed/C-y70ZOSzE0?hd=1&amp;rel=0&amp;autohide=1&amp;showinfo=0" width="410" height="230" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="one_half">
                <p>Uniquely whiteboard just in time sources through fully researched methodologies. Rapidiously administrate vertical functionalities whereas robust outsourcing. Rapidiously exploit team building benefits before multimedia based portals. Quickly revolutionize seamless infomediaries without seamless quality vectors. Energistically productivate virtual bandwidth whereas pandemic niches. Interactively fabricate cost effective web services.</p>
            </div>
            <div class="divider_30"></div>
        </div>
    </div>

    <div class="clearfix"></div>

    <!-- Tweets -->
    <div class="author_tweets_full white">
        <div class="boxed">
            <div class="one_sixth text-center">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="sixth_one">
                <span>@modeltheme - <i>This is the best theme in the world #html5 #themeforest/item/travelogue... http://t.co/modeltheme - 3 days ago</i></span>
            </div>
        </div>
    </div>


</article>