@{
    ViewBag.Title = "_CategoryPartial";
}


<div class="bg-img">
    <img class="async-image hide" src="http://modeltheme.com/travelogue/background-image/img/category_paris.jpg" data-src="img/category_paris.jpg" alt="">
    <div class="overlay" id="overlay"></div>
</div>

<button class="trigger"><span>Trigger</span></button>
