<div class="container-fluid" style="">
    <div class="control-group row-fluid">
        <div class="span12 span-inset">
            <div class="alert alert-success alert-block" style="display: none;">
                <i class="icon-alert icon-alert-info"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success</strong>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac risus vel lorem lobortis mattis nec eu est.</span>
            </div>

            <div class="alert alert-info alert-block" style="display: none;">
                <i class="icon-alert icon-alert-info"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Notice</strong>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac risus vel lorem lobortis mattis nec eu est.</span>
            </div>

            <div class="alert alert-error alert-block" style="display: none;">
                <i class="icon-alert icon-alert-info"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error</strong>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac risus vel lorem lobortis mattis nec eu est.</span>
            </div>
        </div>
    </div>
</div>