
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container intro-effect-sidefixed modify">

    <a class="cd-primary-nav-trigger" id="trigger-menu" href="#0">
        <span class="cd-menu-icon"></span>
    </a>

    <!-- BOF: Fancy Search Form (content imported via jQuery: from search-form.html) -->
    <div id="travelogue-search" class="travelogue-search" style="display: block;">
        <form>
            <input class="travelogue-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
            <input class="travelogue-search-submit" type="submit" value="">
            <span class="travelogue-icon-search fa fa-search"></span>
        </form>
    </div>
    <!-- EOF: Fancy Search Form (content imported via jQuery: from search-form.html) -->

    <div class="title" id="title">
        <h1>Results for: Wild</h1>
        <p class="subline">9 Posts Found</p>
    </div>

    <header class="header">
        <div class="bg-img">
            <img class="async-image hide" src="http://modeltheme.com/travelogue/background-image/img/new/full/poza_2.jpg" data-src="img/new/full/poza_2.jpg" alt="">
            <div class="overlay" id="overlay"></div>
        </div>
    </header>
    <button class="trigger scroll-down-pulse"><span>Trigger</span></button>
    <article class="content no-padding">
        <div class="title" id="title2">
            <h1></h1>
            <p class="subline"></p>
        </div>
        <div>
            <div class="grid">
                <figure class="single-item-effect big wild">
                    <img src="~/Images/img/poza-10.jpg" alt="img01">
                    <figcaption>
                        <div class="figcaption-border">
                            <h2>Life <span>Begins</span></h2>
                            <p>At the end of your comfort zone</p>
                            <a href="single.html">View more</a>
                            <div class="figure-overlay"></div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="single-item-effect big wild">
                    <img src="img/new/480x320/poza-5.jpg" alt="img01">
                    <figcaption>
                        <div class="figcaption-border">
                            <h2>The <span>journey</span></h2>
                            <p>Not the arrival matters</p>
                            <a href="single.html">View more</a>
                            <div class="figure-overlay"></div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="single-item-effect full wild">
                    <img src="img/new/965x350/poza-2.jpg" alt="img01">
                    <figcaption>
                        <div class="figcaption-border">
                            <h2>I want to travel <span>the world</span></h2>
                            <p>And breathe the air of new places</p>
                            <a href="single.html">View more</a>
                            <div class="figure-overlay"></div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="single-item-effect big wild">
                    <img src="img/new/480x320/poza-4.jpg" alt="img01">
                    <figcaption>
                        <div class="figcaption-border">
                            <h2>Go <span>Ahead</span></h2>
                            <p>You never know what could be on the other side</p>
                            <a href="single.html">View more</a>
                            <div class="figure-overlay"></div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="single-item-effect big wild">
                    <img src="img/new/480x320/poza-11.jpg" alt="img01">
                    <figcaption>
                        <div class="figcaption-border">
                            <h2>Travel <span>is</span></h2>
                            <p>The ultimate inspiration</p>
                            <a href="single.html">View more</a>
                            <div class="figure-overlay"></div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="single-item-effect full wild">
                    <img src="img/new/965x350/poza-12.jpg" alt="img01">
                    <figcaption>
                        <div class="figcaption-border">
                            <h2>If you don't know <span>Where</span></h2>
                            <p>You're going, any road will get you there</p>
                            <a href="single.html">View more</a>
                            <div class="figure-overlay"></div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="single-item-effect big wild">
                    <img src="img/poza-15.jpg" alt="img01">
                    <figcaption>
                        <div class="figcaption-border">
                            <h2>Go <span>Explore</span></h2>
                            <p>It's a big world out there</p>
                            <a href="single.html">View more</a>
                            <div class="figure-overlay"></div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="single-item-effect big wild">
                    <img src="img/poza-13.jpg" alt="img01">
                    <figcaption>
                        <div class="figcaption-border">
                            <h2>Travel <span>is</span></h2>
                            <p>The ultimate inspiration</p>
                            <a href="single.html">View more</a>
                            <div class="figure-overlay"></div>
                        </div>
                    </figcaption>
                </figure>
                <figure class="single-item-effect full wild">
                    <img src="img/poza-14.jpg" alt="img01">
                    <figcaption>
                        <div class="figcaption-border">
                            <h2>Getting <span>lost</span></h2>
                            <p>Is not a waste of time</p>
                            <a href="single.html">View more</a>
                            <div class="figure-overlay"></div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </article>
</div>